* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: white;
    transition: 0.6s ease  /*ease*/;

}

.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    border-radius: 10px;
    align-items: center;

}

.search-box i{
    color: white;
    position: absolute;
    left: 10px;
    font-size: 20px;
}

.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    color: rgb(223, 223, 223);


}

.search-box input::placeholder {
    color: rgb(148, 148, 148);
    text-transform: capitalize;

}

.search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 0 40px 0 5px;
    cursor: pointer;


}

.weather-box {
    text-align: center;
    margin: 40px 0;

}

.weather-box,
.weather-details,
.not-found {
    
    visibility: hidden;

}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;

}

.weather-box .box,
.not-found .box {
    transform: translateY(-80%);

}

.weather-box.active .box,
.not-found.active .box{
    transform: translateY(0%);
    transition: transfrom 1s ease;
}

.weather-box img {
    width: 60%;

}

.weather-box .temperature{
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;

}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .desc{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details  {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    padding: 0 20px;
    display: flex;
   

}

.weather-details .humidity,
.weather-details .wind {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 0.2s;

}


.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-left: 20px;
    
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;

}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
    
}

.weather .desc {
    font-family: "Rubik", sans-serif;
 
}

.logo h1{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 20px;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;

}

.not-found img{
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
    font-family: "Rubik", sans-serif;
}

.city-hide {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-family: "Rubik", sans-serif;
  }
  
  footer h1 {
    font-size: 24px;
    margin: 0;
    color: white;
  }

  footer h1 .name {
    font-family: "Fjalla One", sans-serif;
    font-weight: 3000;
  }

  footer .name:hover {
    color: rgb(224, 135, 135);
  }


  footer h1 .name {
    text-decoration: none;
    color: white;
  }
  
  @media (max-width: 768px) {
    footer h1 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    footer h1 {
      font-size: 14px;
    }
  }
  